body{
    background-color: cadetblue;
}

.content{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
     height:500px;
     width:300px;
     text-align: center;
     background-color: white; 
     padding:20px;
     max-height: 500px; 
     max-width: 500px; 
     border-radius: 20px;
    }
 img{
     max-height:300px;
     width:auto;
      border-radius: 20px;
    }
 h2{ 
    font-weight: 300; 
    font-size: 25px; 
    color: burlywood;
}
 p{
    font-size: 15px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }